* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
body {
  position: relative;
  background-color: rgb(241, 235, 235);
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}
/*MAIN STYLE*/
#container {
  position: relative;
  padding: 5px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  min-width: 240px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.top {
  display: flex;
  width:inherit;
  align-items: center;
  justify-content: space-between;
}
.top button {
  position: relative;
  height: 100%;
  border: none;
  padding-top: 2%;
  text-align: center;
  width: fit-content;
  color: hsl(218, 6%, 35%);
  background-color: transparent;
}
.notification {
  width: 100%;
  margin-top: 5px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.notification:hover {
  background-color: rgba(115, 150, 224, 0.5);
}
.inner_div {
  padding-top: 10px;
  height: 100%;
  width: 80%;
  position: relative;
}

/* picture refrence for notification */
.inner_div_rev {
  padding-top: 10px;
  height: 100%;
  width: 80%;
}
.ref_src {
  height: 40px;
  width: 40px;
  float: right;
}

.name {
  color: hsl(224, 21%, 14%);
  font-weight: bold;
  font-size: 15px;
}

.data {
  color: hsl(219, 14%, 63%);
  font-weight: bold;
  font-size: 15px;
  margin-left: 1%;
}
.timeStamp {
  color: lightslategray;
  font-family: monospace;
}
.timeStamp::after {
  content: "m ago";
}
.reference {
  color: hsl(219, 12%, 42%);
  font-weight: bold;
  font-size: 15px;
  margin-left: 1%;
}

/* hold profile picture */
.pic_frame {
  height: 10vw;
  width: 10vw;
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}
/* style for unread notification */
.newNotification {
  background-color: rgba(115, 150, 224, 0.1);
}

.newNotification p::after {
  display: inline-block;
  content: " ";
  height: 7px;
  width: 7px;
  margin-left: 2px;
  border-radius: 50%;
  background-color: red;
}
/* notification counter */
#counter {
  background-color: rgb(16, 16, 134);
  color: white;
  margin-left: 2px;
  border-radius: 20%;
  padding-left: 5%;
  padding-right: 5%;
}
.top h3 {
  display: flex;
}
