* {
  margin: 0;
  font-family: Arial;
}
:root {
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
}
img{
  height: 100%;
  width: 100%;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  background-color: var(--LightGray);
}
.container{
  border-radius: 10px;
  padding: 10px;
  height: 350px;
  max-width: 250px;
  overflow: hidden;
  background-color: var(--White);
}
.code{
  border-radius: 5px;
  height: 65%;
  width: 100%;
  overflow: hidden;
}
.content{
  padding-top: 3%;
  position: relative;
  height: 35%;
}
.content .big{
  position: relative;
  height: 45%;
  text-align: center;
}
h2{
  font-size: clamp(15px,3.5vw,20px);
  color:var(--DarkBlue);
}
p{
  color: var(--GrayishBlue);
  font-size: clamp(13px,2.5vw,15px);

}
.content .para{
  text-align: center;
   position: relative;
  height: 50%;
  padding-bottom: 2%;
}