* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
--orange: hsl(25, 97%, 53%);
}
body {
  position: relative;
  min-height: 100vh;
  background-color:var(--Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.area {
  position: relative;
  background-color:var(--Dark-Blue);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  max-width: 500px;
  max-height: 500px;
  height: auto;
  aspect-ratio:1/1;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 60%;
  height: auto;
}
.para {
  font-size: clamp(10px, 3vw, 15px);
  color: var(--Light-Grey);
  margin-top: 5%;
  font-weight: 400;
  line-height: 150%;
}
#thanks .para {
  text-align: center;
}

h1 {
  color:var(--White);
  margin-top: 3%;
  font-weight: 700;
}

.rating_display {
  width: fit-content;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 3%;
  margin-top: 5%;
  color: var(--orange);
}
form {
  margin-top: 5%;
  position: relative;
}

fieldset {
  border: none;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span {
  position: absolute;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}
input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
input[type="radio"]:hover {
  cursor: pointer;
}
label {
  position: relative;
  color:var(--White);
  display: grid;
  place-items: center;
}

label:hover .score{
  cursor: pointer;
  background-color: var(--Medium-Grey)
}
label:hover span{
  color: var(--White);
}
.score {
  background-color: rgba(255, 255, 255, 0.1);
}
.score_active{
  background-color:var(--orange);
}

.star {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 5%;
}
.star img {
  height: auto;
  width: 40%;
}

.submit {
  color: var(--White);
  background-color:var(--orange);
  width: 100%;
  padding: 3%;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  margin-top: 5%;
}

.submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.hide {
  display: none;
}
